In [1]:
import pandas as pd
import numpy as np
import os
# acquire
from env import host, user, password
from pydataset import data

# visualize
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(11, 9))
plt.rc('font', size=13)

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

import acquire

# Exercises

## Acquire (acquire.py)
- Zillow
- For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

- You will have a zillow.ipynb file and a helper file for each section in the pipeline.

- acquire & summarize

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

    - Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
    - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
    - Only include properties that include a latitude and longitude value.

In [2]:
zillow_df= acquire.new_zillow_data()

In [3]:
zillow_df.head() #looking at first 5 values

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,buildingclasstypeid,buildingclassdesc,heatingorsystemtypeid,heatingorsystemdesc,buildingclasstypeid,buildingclassdesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,NaN,None,2.0,Central,NaN,None,NaN,None,NaN,None
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,NaN,None,2.0,Central,NaN,None,NaN,None,NaN,None

In [4]:
#looking at shape before dropping duplicate columns
zillow_df.shape

(77579, 79)

In [5]:
#Looking at list of columns
zillow_df.columns.to_list()

['id',
 'parcelid',
 'airconditioningtypeid',
 'architecturalstyletypeid',
 'basementsqft',
 'bathroomcnt',
 'bedroomcnt',
 'buildingclasstypeid',
 'buildingqualitytypeid',
 'calculatedbathnbr',
 'decktypeid',
 'finishedfloor1squarefeet',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fips',
 'fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'heatingorsystemtypeid',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertycountylandusecode',
 'propertylandusetypeid',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'storytypeid',
 'threequarterbathnbr',
 'typeconstructiontypeid',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'yearbuilt',
 'numberofstories',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'censustractandblock',
 'id',
 'parcelid',
 'logerror',
 'transactiondate',
 'propertylandusetypeid',
 'propertylandusedesc',
 'airconditioningtypeid',
 'airconditioningdesc',
 'architecturalstyletypeid',
 'architecturalstyledesc',
 'buildingclasstypeid',
 'buildingclassdesc',
 'heatingorsystemtypeid',
 'heatingorsystemdesc',
 'buildingclasstypeid',
 'buildingclassdesc',
 'storytypeid',
 'storydesc',
 'typeconstructiontypeid',
 'typeconstructiondesc']

In [6]:
#drop duplicate columns
zillow_df= zillow_df.loc[:, ~zillow_df.columns.duplicated()]

In [7]:
#verify duplicate columns were dropped (went from 79 to 68 columns)
zillow_df.shape

(77579, 68)

In [8]:
#making sure there is only one parcelid column
zillow_df['parcelid']

0        14297519
1        17052889
2        14186244
3        12177905
4        10887214
           ...
77574    10833991
77575    11000655
77576    17239384
77577    12773139
77578    12826780
Name: parcelid, Length: 77579, dtype: int64

In [9]:
#making sure there is only one id column
zillow_df['id']

0        1727539
1        1387261
2          11677
3        2288172
4        1970746
          ...
77574    2864704
77575     673515
77576    2968375
77577    1843709
77578    1187175
Name: id, Length: 77579, dtype: int64

In [23]:
#filter by parcel and max transaction date
zillow_df= zillow_df.groupby(by= 'parcelid').max('transaction')

def nulls_by_col(df):
    num_missing = df.isnull().sum()
    print(type(num_missing))
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing

def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'index': 'num_rows'}).reset_index()
    return rows_missing2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [24]:
#functions
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    print(type(num_missing))
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing

def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'index': 'num_rows'}).reset_index()
    return rows_missing

In [25]:
#using functions
nulls_by_col(zillow_df)

<class 'pandas.core.series.Series'>

                              num_rows_missing  percent_rows_missing
id                                           0              0.000000
airconditioningtypeid                    52428             67.753066
architecturalstyletypeid                 77175             99.733785
basementsqft                             77331             99.935385
bathroomcnt                                  0              0.000000
bedroomcnt                                   0              0.000000
buildingclasstypeid                      77366             99.980615
buildingqualitytypeid                    27709             35.808532
calculatedbathnbr                          609              0.787015
decktypeid                               76767             99.206524
finishedfloor1squarefeet                 71358             92.216436
calculatedfinishedsquarefeet               196              0.253292
finishedsquarefeet12                      3632              4.693659
finishedsquarefeet13                     77340             99.947015
finishedsquarefeet15                     74372             96.111449
finishedsquarefeet50                     71358             92.216436
finishedsquarefeet6                      76995             99.501170
fips                                         0              0.000000
fireplacecnt                             69105             89.304868
fullbathcnt                                609              0.787015
garagecarcnt                             51907             67.079774
garagetotalsqft                          51907             67.079774
hashottuborspa                           75843             98.012432
heatingorsystemtypeid                    27941             36.108347
latitude                                     0              0.000000
longitude                                    0              0.000000
lotsizesquarefeet                         8239             10.647317
poolcnt                                  61244             79.146044
poolsizesum                              76514             98.879570
pooltypeid10                             76917             99.400370
pooltypeid2                              76307             98.612062
pooltypeid7                              62339             80.561120
propertylandusetypeid                        0              0.000000
rawcensustractandblock                       0              0.000000
regionidcity                              1471              1.900983
regionidcounty                               0              0.000000
regionidneighborhood                     46491             60.080640
regionidzip                                 50              0.064615
roomcnt                                      0              0.000000
storytypeid                              77331             99.935385
threequarterbathnbr                      67285             86.952870
typeconstructiontypeid                   77159             99.713108
unitcnt                                  26818             34.657086
yardbuildingsqft17                       74993             96.913971
yardbuildingsqft26                       77311             99.909539
yearbuilt                                  263              0.339877
numberofstories                          59821             77.307091
fireplaceflag                            77209             99.777723
structuretaxvaluedollarcnt                 112              0.144738
taxvaluedollarcnt                            1              0.001292
assessmentyear                               0              0.000000
landtaxvaluedollarcnt                        2              0.002585
taxamount                                    5              0.006462
taxdelinquencyyear                       74495             96.270402
censustractandblock                        244              0.315323
logerror                                     0              0.000000

In [26]:
nulls_by_row(zillow_df)

   num_cols_missing percent_cols_missing  parcelid
0                17   30.357142857142854         2
1                18   32.142857142857146        10
2                19    33.92857142857143        79
3                20   35.714285714285715       264
4                21                 37.5       423
5                22   39.285714285714285       444
6                23    41.07142857142857      1194
7                24   42.857142857142854      7188
8                25   44.642857142857146      8686
9                26    46.42857142857143     11856
10               27   48.214285714285715     21964
11               28                 50.0     17503
12               29    51.78571428571429      4743
13               30    53.57142857142857      2234
14               31    55.35714285714286       318
15               32    57.14285714285714       248
16               33    58.92857142857143        27
17               34    60.71428571428571        19
18               35                 62.5        18
19               36    64.28571428571429        86
20               37    66.07142857142857        56
21               38    67.85714285714286        13
22               39    69.64285714285714         1
23               40    71.42857142857143         3
24               41    73.21428571428571         2

In [27]:
def summarize(df):
    '''
    summarize will take in a single argument (a pandas dataframe) 
    and output to console various statistics on said dataframe, including:
    # .head()
    # .info()
    # .describe()
    # value_counts()
    # observation of nulls in the dataframe
    '''
    print('=====================================================')
    print('Dataframe head: ')
    print(df.head(3))
    print('=====================================================')
    print('Dataframe info: ')
    print(df.info())
    print('=====================================================')
    print('Dataframe Description: ')
    print(df.describe())
    num_cols = [col for col in df.columns if df[col].dtype != 'O']
    cat_cols = [col for col in df.columns if col not in num_cols]
    print('=====================================================')
    print('DataFrame value counts: ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts())  
        else:
            print(df[col].value_counts(bins=10, sort=False))
            print('=====================================================')
            
    print('=====================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    print('=====================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=====================================================')

In [28]:
summarize(zillow_df)

=====================================================
Dataframe head:
               id  airconditioningtypeid  architecturalstyletypeid  \
parcelid
10711855  1087254                    NaN                       NaN
10711877  1072280                    1.0                       NaN
10711888  1340933                    1.0                       NaN

          basementsqft  bathroomcnt  bedroomcnt  buildingclasstypeid  \
parcelid
10711855           NaN          2.0         3.0                  NaN
10711877           NaN          2.0         4.0                  NaN
10711888           NaN          2.0         4.0                  NaN

          buildingqualitytypeid  calculatedbathnbr  decktypeid  ...  \
parcelid                                                        ...
10711855                    8.0                2.0         NaN  ...
10711877                    8.0                2.0         NaN  ...
10711888                    8.0                2.0         NaN  ...

          numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
parcelid
10711855              NaN            NaN                    249655.0
10711877              NaN            NaN                    253000.0
10711888              NaN            NaN                    257591.0

          taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  taxamount  \
parcelid
10711855           624139.0          2016.0               374484.0    7659.36
10711877           660000.0          2016.0               407000.0    8123.91
10711888           542923.0          2016.0               285332.0    6673.24

          taxdelinquencyyear  censustractandblock  logerror
parcelid
10711855                 NaN         6.037113e+13 -0.007357
10711877                 NaN         6.037113e+13  0.021066
10711888                 NaN         6.037113e+13  0.077174

[3 rows x 56 columns]
=====================================================
Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 10711855 to 167689317
Data columns (total 56 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77381 non-null  int64
 1   airconditioningtypeid         24953 non-null  float64
 2   architecturalstyletypeid      206 non-null    float64
 3   basementsqft                  50 non-null     float64
 4   bathroomcnt                   77381 non-null  float64
 5   bedroomcnt                    77381 non-null  float64
 6   buildingclasstypeid           15 non-null     float64
 7   buildingqualitytypeid         49672 non-null  float64
 8   calculatedbathnbr             76772 non-null  float64
 9   decktypeid                    614 non-null    float64
 10  finishedfloor1squarefeet      6023 non-null   float64
 11  calculatedfinishedsquarefeet  77185 non-null  float64
 12  finishedsquarefeet12          73749 non-null  float64
 13  finishedsquarefeet13          41 non-null     float64
 14  finishedsquarefeet15          3009 non-null   float64
 15  finishedsquarefeet50          6023 non-null   float64
 16  finishedsquarefeet6           386 non-null    float64
 17  fips                          77381 non-null  float64
 18  fireplacecnt                  8276 non-null   float64
 19  fullbathcnt                   76772 non-null  float64
 20  garagecarcnt                  25474 non-null  float64
 21  garagetotalsqft               25474 non-null  float64
 22  hashottuborspa                1538 non-null   float64
 23  heatingorsystemtypeid         49440 non-null  float64
 24  latitude                      77381 non-null  float64
 25  longitude                     77381 non-null  float64
 26  lotsizesquarefeet             69142 non-null  float64
 27  poolcnt                       16137 non-null  float64
 28  poolsizesum                   867 non-null    float64
 29  pooltypeid10                  464 non-null    float64
 30  pooltypeid2                   1074 non-null   float64
 31  pooltypeid7                   15042 non-null  float64
 32  propertylandusetypeid         77381 non-null  float64
 33  rawcensustractandblock        77381 non-null  float64
 34  regionidcity                  75910 non-null  float64
 35  regionidcounty                77381 non-null  float64
 36  regionidneighborhood          30890 non-null  float64
 37  regionidzip                   77331 non-null  float64
 38  roomcnt                       77381 non-null  float64
 39  storytypeid                   50 non-null     float64
 40  threequarterbathnbr           10096 non-null  float64
 41  typeconstructiontypeid        222 non-null    float64
 42  unitcnt                       50563 non-null  float64
 43  yardbuildingsqft17            2388 non-null   float64
 44  yardbuildingsqft26            70 non-null     float64
 45  yearbuilt                     77118 non-null  float64
 46  numberofstories               17560 non-null  float64
 47  fireplaceflag                 172 non-null    float64
 48  structuretaxvaluedollarcnt    77269 non-null  float64
 49  taxvaluedollarcnt             77380 non-null  float64
 50  assessmentyear                77381 non-null  float64
 51  landtaxvaluedollarcnt         77379 non-null  float64
 52  taxamount                     77376 non-null  float64
 53  taxdelinquencyyear            2886 non-null   float64
 54  censustractandblock           77137 non-null  float64
 55  logerror                      77381 non-null  float64
dtypes: float64(55), int64(1)
memory usage: 33.7 MB
None
=====================================================
Dataframe Description:
                 id  airconditioningtypeid  architecturalstyletypeid  \
count  7.738100e+04           24953.000000                206.000000
mean   1.495139e+06               1.813289                  7.388350
std    8.609071e+05               2.967894                  2.734542
min    3.490000e+02               1.000000                  2.000000
25%    7.520700e+05               1.000000                  7.000000
50%    1.497932e+06               1.000000                  7.000000
75%    2.240535e+06               1.000000                  7.000000
max    2.982274e+06              13.000000                 21.000000

       basementsqft   bathroomcnt    bedroomcnt  buildingclasstypeid  \
count     50.000000  77381.000000  77381.000000            15.000000
mean     679.720000      2.299130      3.053489             3.933333
std      689.703546      0.996651      1.139096             0.258199
min       38.000000      0.000000      0.000000             3.000000
25%      273.000000      2.000000      2.000000             4.000000
50%      515.000000      2.000000      3.000000             4.000000
75%      796.500000      3.000000      4.000000             4.000000
max     3560.000000     18.000000     16.000000             4.000000

       buildingqualitytypeid  calculatedbathnbr  decktypeid  ...  \
count           49672.000000       76772.000000       614.0  ...
mean                6.534587           2.316867        66.0  ...
std                 1.721953           0.979755         0.0  ...
min                 1.000000           1.000000        66.0  ...
25%                 6.000000           2.000000        66.0  ...
50%                 6.000000           2.000000        66.0  ...
75%                 8.000000           3.000000        66.0  ...
max                12.000000          18.000000        66.0  ...

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
count     17560.000000          172.0                7.726900e+04
mean          1.434738            1.0                1.893145e+05
std           0.544569            0.0                2.300874e+05
min           1.000000            1.0                4.400000e+01
25%           1.000000            1.0                8.426500e+04
50%           1.000000            1.0                1.364990e+05
75%           2.000000            1.0                2.187870e+05
max           6.000000            1.0                1.142179e+07

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  \
count       7.738000e+04         77381.0           7.737900e+04
mean        4.901345e+05          2016.0           3.010954e+05
std         6.534440e+05             0.0           4.925960e+05
min         1.000000e+03          2016.0           1.610000e+02
25%         2.070000e+05          2016.0           8.550400e+04
50%         3.589755e+05          2016.0           2.033720e+05
75%         5.690015e+05          2016.0           3.667965e+05
max         4.906124e+07          2016.0           4.895220e+07

           taxamount  taxdelinquencyyear  censustractandblock      logerror
count   77376.000000         2886.000000         7.713700e+04  77381.000000
mean     5995.532346           14.087318         6.049673e+13      0.017048
std      7622.844153            2.185663         1.535242e+12      0.169728
min        19.920000            3.000000         6.037101e+13     -4.655420
25%      2715.632500           14.000000         6.037311e+13     -0.024121
50%      4450.695000           15.000000         6.037603e+13      0.006760
75%      6927.790000           15.000000         6.059042e+13      0.039363
max    586639.300000           99.000000         4.830301e+14      5.262999

[8 rows x 56 columns]
=====================================================
DataFrame value counts:
(-2632.9260000000004, 298541.5]    7739
(298541.5, 596734.0]               7682
(596734.0, 894926.5]               7585
(894926.5, 1193119.0]              7694
(1193119.0, 1491311.5]             7827
(1491311.5, 1789504.0]             7813
(1789504.0, 2087696.5]             7794
(2087696.5, 2385889.0]             7698
(2385889.0, 2684081.5]             7710
(2684081.5, 2982274.0]             7839
Name: id, dtype: int64
=====================================================
(0.987, 2.2]    23133
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1574
Name: airconditioningtypeid, dtype: int64
=====================================================
(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   172
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64
=====================================================
(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
=====================================================
(-0.019, 1.8]    14909
(1.8, 3.6]       56436
(3.6, 5.4]        5073
(5.4, 7.2]         801
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64
=====================================================
(-0.017, 1.6]     4209
(1.6, 3.2]       49531
(3.2, 4.8]       17513
(4.8, 6.4]        5541
(6.4, 8.0]         460
(8.0, 9.6]          70
(9.6, 11.2]         39
(11.2, 12.8]        14
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64
=====================================================
(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64
=====================================================
(0.988, 2.1]       35
(2.1, 3.2]        329
(3.2, 4.3]       9483
(4.3, 5.4]       2088
(5.4, 6.5]      13462
(6.5, 7.6]       5971
(7.6, 8.7]      14645
(8.7, 9.8]       2299
(9.8, 10.9]       313
(10.9, 12.0]     1047
Name: buildingqualitytypeid, dtype: int64
=====================================================
(0.982, 2.7]    52390
(2.7, 4.4]      21699
(4.4, 6.1]       2361
(6.1, 7.8]        176
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64
=====================================================
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
=====================================================
(37.131, 730.8]      702
(730.8, 1417.6]     3025
(1417.6, 2104.4]    1733
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64
=====================================================
(92.487, 3679.2]      73880
(3679.2, 7230.4]       3134
(7230.4, 10781.6]       148
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: calculatedfinishedsquarefeet, dtype: int64
=====================================================
(106.198, 2308.1]     59593
(2308.1, 4488.2]      12862
(4488.2, 6668.3]       1069
(6668.3, 8848.4]        161
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
=====================================================
(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 5
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64
=====================================================
(562.957, 4102.2]     2811
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64
=====================================================
(31.576, 1286.3]      3138
(1286.3, 2528.6]      2552
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
=====================================================
(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64
=====================================================
(6036.925, 6044.4]    50551
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20593
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6237
Name: fips, dtype: int64
=====================================================
(0.995, 1.4]    7008
(1.4, 1.8]         0
(1.8, 2.2]       995
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64
=====================================================
(0.982, 2.7]    52407
(2.7, 4.4]      22399
(4.4, 6.1]       1699
(6.1, 7.8]        121
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64
=====================================================
(-0.015, 1.4]     5906
(1.4, 2.8]       18608
(2.8, 4.2]         887
(4.2, 5.6]          45
(5.6, 7.0]          18
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64
=====================================================
(-4.252000000000001, 425.1]    11937
(425.1, 850.2]                 13160
(850.2, 1275.3]                  323
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
=====================================================
(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1538
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64
=====================================================
(0.976, 3.3]    33563
(3.3, 5.6]          0
(5.6, 7.9]      14841
(7.9, 10.2]         3
(10.2, 12.5]        1
(12.5, 14.8]       59
(14.8, 17.1]        0
(17.1, 19.4]       23
(19.4, 21.7]      104
(21.7, 24.0]      846
Name: heatingorsystemtypeid, dtype: int64
=====================================================
(33338047.759000003, 33487451.0]     1045
(33487451.0, 33635375.0]             5318
(33635375.0, 33783299.0]            10047
(33783299.0, 33931223.0]            14789
(33931223.0, 34079147.0]            14222
(34079147.0, 34227071.0]            18893
(34227071.0, 34374995.0]             6261
(34374995.0, 34522919.0]             3146
(34522919.0, 34670843.0]             2321
(34670843.0, 34818767.0]             1339
Name: latitude, dtype: int64
=====================================================
(-119477336.781, -119283338.0]      221
(-119283338.0, -119091260.0]       1997
(-119091260.0, -118899182.0]       1494
(-118899182.0, -118707104.0]       2660
(-118707104.0, -118515026.0]       5926
(-118515026.0, -118322948.0]      15424
(-118322948.0, -118130870.0]      15361
(-118130870.0, -117938792.0]      14219
(-117938792.0, -117746714.0]      12689
(-117746714.0, -117554636.0]       7390
Name: longitude, dtype: int64
=====================================================
(-6734.775000000001, 697313.4]    68856
(697313.4, 1394390.8]               227
(1394390.8, 2091468.2]               40
(2091468.2, 2788545.6]                2
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                9
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
=====================================================
(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       16137
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: poolcnt, dtype: int64
=====================================================
(22.523, 171.6]       7
(171.6, 319.2]       47
(319.2, 466.8]      322
(466.8, 614.4]      306
(614.4, 762.0]      123

In [29]:
#Looking at shape
zillow_df.shape

(77381, 56)

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values

In [30]:
def miss_dup_values(df):
    '''
    this function takes a dataframe as input and will output metrics for missing values and duplicated rows,
    and the percent of that column that has missing values and duplicated rows
    '''
        # Total missing values
    mis_val = df.isnull().sum()
        # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
        #total of duplicated
    dup = df.duplicated().sum()
        # Percentage of missing values
    dup_percent = 100 * dup / len(df)
        # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
    mis_val_table_ren_columns.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)
        # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"
           "There are " + str(mis_val_table_ren_columns.shape[0]) +
           " columns that have missing values.")
    print( "  ")
    print (f"** There are {dup} duplicate rows that represents {round(dup_percent, 2)}% of total Values**")
        # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [31]:
miss_dup_values(zillow_df)

Your selected dataframe has 56 columns.
There are 44 columns that have missing values.

** There are 0 duplicate rows that represents 0.0% of total Values**

                              Missing Values  % of Total Values
buildingclasstypeid                    77366              100.0
finishedsquarefeet13                   77340               99.9
basementsqft                           77331               99.9
storytypeid                            77331               99.9
yardbuildingsqft26                     77311               99.9
fireplaceflag                          77209               99.8
architecturalstyletypeid               77175               99.7
typeconstructiontypeid                 77159               99.7
finishedsquarefeet6                    76995               99.5
pooltypeid10                           76917               99.4
decktypeid                             76767               99.2
poolsizesum                            76514               98.9
pooltypeid2                            76307               98.6
hashottuborspa                         75843               98.0
yardbuildingsqft17                     74993               96.9
taxdelinquencyyear                     74495               96.3
finishedsquarefeet15                   74372               96.1
finishedfloor1squarefeet               71358               92.2
finishedsquarefeet50                   71358               92.2
fireplacecnt                           69105               89.3
threequarterbathnbr                    67285               87.0
pooltypeid7                            62339               80.6
poolcnt                                61244               79.1
numberofstories                        59821               77.3
airconditioningtypeid                  52428               67.8
garagetotalsqft                        51907               67.1
garagecarcnt                           51907               67.1
regionidneighborhood                   46491               60.1
heatingorsystemtypeid                  27941               36.1
buildingqualitytypeid                  27709               35.8
unitcnt                                26818               34.7
lotsizesquarefeet                       8239               10.6
finishedsquarefeet12                    3632                4.7
regionidcity                            1471                1.9
fullbathcnt                              609                0.8
calculatedbathnbr                        609                0.8
yearbuilt                                263                0.3
censustractandblock                      244                0.3
calculatedfinishedsquarefeet             196                0.3
structuretaxvaluedollarcnt               112                0.1
regionidzip                               50                0.1
taxamount                                  5                0.0
landtaxvaluedollarcnt                      2                0.0
taxvaluedollarcnt                          1                0.0

4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [33]:
miss_dup_values(zillow_df)

Your selected dataframe has 56 columns.
There are 44 columns that have missing values.

** There are 0 duplicate rows that represents 0.0% of total Values**

                              Missing Values  % of Total Values
buildingclasstypeid                    77366              100.0
finishedsquarefeet13                   77340               99.9
basementsqft                           77331               99.9
storytypeid                            77331               99.9
yardbuildingsqft26                     77311               99.9
fireplaceflag                          77209               99.8
architecturalstyletypeid               77175               99.7
typeconstructiontypeid                 77159               99.7
finishedsquarefeet6                    76995               99.5
pooltypeid10                           76917               99.4
decktypeid                             76767               99.2
poolsizesum                            76514               98.9
pooltypeid2                            76307               98.6
hashottuborspa                         75843               98.0
yardbuildingsqft17                     74993               96.9
taxdelinquencyyear                     74495               96.3
finishedsquarefeet15                   74372               96.1
finishedfloor1squarefeet               71358               92.2
finishedsquarefeet50                   71358               92.2
fireplacecnt                           69105               89.3
threequarterbathnbr                    67285               87.0
pooltypeid7                            62339               80.6
poolcnt                                61244               79.1
numberofstories                        59821               77.3
airconditioningtypeid                  52428               67.8
garagetotalsqft                        51907               67.1
garagecarcnt                           51907               67.1
regionidneighborhood                   46491               60.1
heatingorsystemtypeid                  27941               36.1
buildingqualitytypeid                  27709               35.8
unitcnt                                26818               34.7
lotsizesquarefeet                       8239               10.6
finishedsquarefeet12                    3632                4.7
regionidcity                            1471                1.9
fullbathcnt                              609                0.8
calculatedbathnbr                        609                0.8
yearbuilt                                263                0.3
censustractandblock                      244                0.3
calculatedfinishedsquarefeet             196                0.3
structuretaxvaluedollarcnt               112                0.1
regionidzip                               50                0.1
taxamount                                  5                0.0
landtaxvaluedollarcnt                      2                0.0
taxvaluedollarcnt                          1                0.0

- Prepare

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

- The input:
- A dataframe
- A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
- A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
- The output:
    - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
- hint:
    - Look up the dropna documentation.
    - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
    - Make use of inplace, i.e. inplace=True/False.

3. Decide how to handle the remaining missing values:

    - Fill with constant value.
    - Impute with mean, median, mode.
    - Drop row/column

- wrangle_zillow.py
     - Functions of the work above needed to acquire and prepare a new sample of data.

## Mall Customers
### notebook
1. Acquire data from mall_customers.customers in mysql database.
2. Summarize data (include distributions and descriptive statistics).
3. Detect outliers using IQR.
4. Split data (train, validate, and test split).
5. Encode categorical columns using a one hot encoder (pd.get_dummies).
6. Handles missing values.
7. Scaling

- wrangle_mall.py
1. Acquire data from mall_customers.customers in mysql database.
2. Split the data into train, validate, and split
3. One-hot-encoding (pd.get_dummies)
4. Missing values
5. Scaling